.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#introDiv {
  display: flex;
  flex-direction: row;
}

#leftDiv{
  flex: 1;
  background-color: rgb(216, 89, 16);
  color: white;
  text-align: center;
}

#rightDiv{

}

#navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
